{% extends "base.html" %}
{% block start %}

<div class="container mt-5">
    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h1>Add Book(s)</h1>
        <div class="form-group">
          <label for="exampleInputEmail1">Book Name</label>
          <input name="book_name" required type="text" class="form-control" placeholder="Enter Title">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1" >Book Description</label>
          <textarea class="form-control" name="book_description" required></textarea>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Book Cover</label>
            <input name="book_image" type="file" class="form-control">
          </div>
          
          <button type="submit" class="btn btn-success mt-3">Add Now</button>
        
      </form>
      <hr>
      <div class="mt-5">
        <div class="mx-auto col-6">
          <form>
          <div class="mb-3">
            <label for="exampleInputEmail1">Search Books</label>
            <input name="search" type="text" class="form-control" placeholder="Enter Title">
          </div>

          <button type="submiy" class="btn btn-primary">Search</button>
          </form>
        </div>
      </div>

    <table class="table mt-5">
      <thead>
        <tr>
          <th scope="col">Sr No</th>
          <th scope="col">Book Name</th>
          <th scope="col">Book Description</th>
          <th scope="col">Image</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for book in books %}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td>{{book.book_name}}</td>
          <td>{{book.book_description}}</td>
          <td>
            <img src="/media/{{book.book_image}}" style="height:100px">
          </td>
          <td>
            <a href="/delete_book/{{book.id}}/" class="btn btn-danger m-2">Delete</a>
            <a href="/update_book/{{book.id}}/" class="btn btn-success">Update</a>
          </td>
        </tr>
        {% endfor %}
       
      </tbody>
    </table>

</div>

{% endblock %}